
<div class="sidebar-table-of-contents">
    <nav class="wp-block-kinsta-table-of-contents">
        <h3 class="wp-block-kinsta-table-of-contents__title">Table des matières</h3>
        <ol id="market" class="wp-block-kinsta-table-of-contents__list">
            <li class="" ><a href="ControleTechnique#titre1"  id="marketLink1" (click)="changeBefore('marketLink1')" >TITRE I : RAPPEL DES DISPOSITIONS REGLEMENTAIRES</a></li>
            <li class="" ><a href="ControleTechnique#titre2" id="marketLink2" (click)="changeBefore('marketLink2')">TITRE II : FONCTIONNEMENT DES CENTRES DE VISITE TECHNIQUE</a></li>
            <li class="" ><a href="ControleTechnique#titre3" id="marketLink3" (click)="changeBefore('marketLink3')">TITRE III : DISPOSITIONS RELATIVES AU CENTRE NATIONAL D’ESSAIS ET D’HOMOLOGATION</a></li>
            <li class="" ><a href="ControleTechnique#titre4" id="marketLink4" (click)="changeBefore('marketLink4')">TITRE IV : DISPOSITIONS DIVERSES ET TRANSITOINNELS</a></li>        
        </ol>
    </nav><button class="download" >
        <div ><span class="yogurt-qo1k2"><a  target="_self" href="assets/Réglementation du Contrôle Technique.pdf" download="Réglementation du Contrôle Technique.pdf">Télécharger l'article en PDF</a></span></div>
    </button>
</div>

<script>
    
</script>






