 <!-- TEAM AREA START (Team - 3) -->
 <div class="ltn__team-area pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h6 class="section-subtitle ltn__secondary-color">// Team</h6>
                    <h1 class="section-title">Our Mechanics<span>.</span></h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3">
                    <div class="team-img">
                        <img src="assets/img/team/4.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h6 class="ltn__secondary-color">//  founder  //</h6>
                        <h4><a href="team-details.html">Rosalina D. William</a></h4>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3">
                    <div class="team-img">
                        <img src="assets/img/team/2.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h6 class="ltn__secondary-color">//  CEo  //</h6>
                        <h4><a href="team-details.html">Kelian Anderson</a></h4>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3">
                    <div class="team-img">
                        <img src="assets/img/team/5.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h6 class="ltn__secondary-color">//  machanic  //</h6>
                        <h4><a href="team-details.html">Miranda H. Halim</a></h4>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3">
                    <div class="team-img">
                        <img src="assets/img/team/1.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h6 class="ltn__secondary-color">//  machanic  //</h6>
                        <h4><a href="team-details.html">Damble D. Browni.</a></h4>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEAM AREA END -->

<!-- IMAGE SLIDER AREA START (img-slider-3) -->
<div class="ltn__img-slider-area pb-100">
    <div class="container-fluid">
        <div class="row ltn__image-slider-3-active slick-arrow-1 slick-arrow-1-inner">
            <div class="col-lg-12">
                <div class="ltn__img-slide-item-3">
                    <a href="assets/assets/img/img-slide/11.jpg" data-rel="lightcase:myCollection">
                        <img src="assets/img/img-slide/11.jpg" alt="Image">
                    </a>
                    <div class="ltn__img-slide-info">
                        <div class="ltn__img-slide-info-brief">
                            <h6>//  trouble shooting</h6>
                            <h1><a href="portfolio-details.html">Hilix Nova Car Solutions.</a></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="portfolio-details.html" class="btn theme-btn-1 btn-effect-1"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__img-slide-item-3">
                    <a href="assets/assets/img/img-slide/12.jpg" data-rel="lightcase:myCollection">
                        <img src="assets/img/img-slide/12.jpg" alt="Image">
                    </a>
                    <div class="ltn__img-slide-info">
                        <div class="ltn__img-slide-info-brief">
                            <h6>//  trouble shooting</h6>
                            <h1><a href="portfolio-details.html">Hilix Nova Car Solutions.</a></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="portfolio-details.html" class="btn theme-btn-1 btn-effect-1"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__img-slide-item-3">
                    <a href="assets/img/img-slide/13.jpg" data-rel="lightcase:myCollection">
                        <img src="assets/img/img-slide/13.jpg" alt="Image">
                    </a>
                    <div class="ltn__img-slide-info">
                        <div class="ltn__img-slide-info-brief">
                            <h6>//  trouble shooting</h6>
                            <h1><a href="portfolio-details.html">Hilix Nova Car Solutions.</a></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="portfolio-details.html" class="btn theme-btn-1 btn-effect-1"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__img-slide-item-3">
                    <a href="assets/img/img-slide/11.jpg" data-rel="lightcase:myCollection">
                        <img src="assets/img/img-slide/11.jpg" alt="Image">
                    </a>
                    <div class="ltn__img-slide-info">
                        <div class="ltn__img-slide-info-brief">
                            <h6>//  trouble shooting</h6>
                            <h1><a href="portfolio-details.html">Hilix Nova Car Solutions.</a></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="portfolio-details.html" class="btn theme-btn-1 btn-effect-1"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__img-slide-item-3">
                    <a href="assets/img/img-slide/13.jpg" data-rel="lightcase:myCollection">
                        <img src="assets/img/img-slide/13.jpg" alt="Image">
                    </a>
                    <div class="ltn__img-slide-info">
                        <div class="ltn__img-slide-info-brief">
                            <h6>//  trouble shooting</h6>
                            <h1><a href="portfolio-details.html">Hilix Nova Car Solutions.</a></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="portfolio-details.html" class="btn theme-btn-1 btn-effect-1"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IMAGE SLIDER AREA END -->

<!-- GET A FREE SERVICE AREA START -->
<div class="ltn__get-a-free-service-area get-a-free-service-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="get-a-free-service-inner bg-white text-center pt-115 pb-100">
                    <div class="call-to-img">
                        <img src="assets/img/bg/10.png" alt="#">
                    </div>
                    <div class="call-to-action-inner-content">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h6 class="section-subtitle ltn__secondary-color">//  call to action  //</h6>
                            <h1 class="section-title">Get A Free Car Service<span>.</span></h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="appointment.html" class="btn theme-btn-1 btn-effect-1 text-uppercase">get an appointment</a>
                        </div>
                    </div>
                    <span class="call-to-circle-1"></span>
                    <span class="call-to-circle-2 fa-spin"></span>
                    <span class="call-to-bg-icon"><i class="icon-automobile"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GET A FREE SERVICE AREA END -->

<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-290 pb-110 plr--9">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="assets/img/brand-logo/1.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="assets/img/brand-logo/2.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="assets/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="assets/img/brand-logo/4.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="assets/img/brand-logo/5.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="assets/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->

<!-- BLOG AREA START (blog-4) -->
<div class="ltn__blog-area pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h6 class="section-subtitle ltn__secondary-color">// blog & insights</h6>
                    <h1 class="section-title">News Feeds<span>.</span></h1>
                </div>
            </div>
        </div>
        <div class="row  ltn__blog-slider-one-active slick-arrow-1">
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-4 bg-image" data-bs-bg="img/blog/1.jpg">
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Services</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">Electric Car Maintenance, Servicing & Repairs</a></h3>
                        <p>Lorem ipsum labore et dolore mag na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-4 bg-image" data-bs-bg="img/blog/2.jpg">
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Services</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">Common Engine Oil Problems and Solutions</a></h3>
                        <p>Lorem ipsum labore et dolore mag na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-4 bg-image" data-bs-bg="img/blog/3.jpg">
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Services</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">How to Prepare for your First Track Day!</a></h3>
                        <p>Lorem ipsum labore et dolore mag na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-4 bg-image" data-bs-bg="img/blog/4.jpg">
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Services</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">The branch of biology that deals with the normal.</a></h3>
                        <p>Lorem ipsum labore et dolore mag na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-4">
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Services</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">How to: Make Your Tires Last Longer</a></h3>
                        <p>Lorem ipsum labore et dolore mag na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i> June 24, 2020</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BLOG AREA END -->
