<!-- BREADCRUMB AREA START -->
<div class="media" >
    <div
      class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
      data-bs-bg="assets/OIP.jpg"
      style="padding-top: 103px;  padding-bottom: 40px;background-image: url('assets/OIP.jpg');"
    >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn_breadcrumb-inner ltn_breadcrumb-inner-2 justify-content-between">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle" style="color: #fcc300;">//  Bienvennue chez nous</h6>
                        <h1 class="section-title white-color" style="font-size: 40px;">Politique De Confidentialité Et De Protection Des Données - Site Web Automotive.Ma</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: -55px;">

    <p >La présente Politique de Confidentialité explique comment le site web Automotive.ma, exploité par l'entreprise SILIAD, collecte, utilise et protège les données personnelles des utilisateurs. En utilisant ce site, vous acceptez cette politique.</p>

    <h2>1. Collecte de Données Personnelles :</h2>
    <p class="contenu">1.1. Nous pouvons collecter des données personnelles telles que votre nom, adresse e-mail, numéro de téléphone, et autres informations que vous nous fournissez volontairement via le site.</p>
    <p class="contenu">1.2. Nous pouvons également collecter des informations techniques telles que l'adresse IP, le type de navigateur, les pages visitées, et d'autres données similaires pour améliorer notre site.</p>

    <h2>2. Utilisation des Données Personnelles :</h2>
    <p class="contenu">2.1. Les données personnelles collectées peuvent être utilisées pour traiter vos demandes, améliorer notre site, personnaliser votre expérience et vous envoyer des informations liées à nos services.</p>
    <p class="contenu">2.2. Nous ne partagerons pas vos données personnelles avec des tiers sans votre consentement, sauf si requis par la loi.</p>

    <h2>3. Sécurité des Données :</h2>
    <p class="contenu">3.1. Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé, utilisation abusive ou divulgation.</p>

    <h2>4. Cookies et Technologies Similaires :</h2>
    <p class="contenu">4.1. Nous utilisons des cookies et des technologies similaires pour améliorer votre expérience sur le site. Veuillez consulter notre Politique relative aux Cookies pour plus d'informations sur l'utilisation des cookies.</p>

    <h2>5. Droits des Utilisateurs :</h2>
    <p class="contenu">5.1. Vous avez le droit d'accéder à vos données personnelles, de les corriger, de les supprimer, ou de vous opposer à leur traitement.</p>

    <h2>6. Enfants :</h2>
    <p class="contenu">6.1. Le site n'est pas destiné aux enfants de moins de 16 ans. Si vous avez moins de 16 ans, veuillez ne pas fournir de données personnelles sur le site.</p>

    <h2>7. Modification de la Politique de Confidentialité :</h2>
    <p class="contenu">7.1. SILIAD se réserve le droit de modifier cette Politique de Confidentialité à tout moment. Les modifications entreront en vigueur dès leur publication sur le site.</p>

    <p >En utilisant le site Automotive.ma, vous consentez à la collecte et à l'utilisation de vos données personnelles conformément à la présente Politique de Confidentialité. Si vous avez des questions ou des préoccupations concernant la protection de vos données, veuillez nous contacter à l'adresse indiquée sur le site.</p>
</div>
