.media{
    padding-top: 117px;
  }
  @media (max-width:767px){
    .ltn__breadcrumb-area-2{
        margin-top: 43px;
    }
  }
  p{
    font-weight: bold;
 
  }
  .contenu{
    padding-left: 60px;
  }
  h2{
    font-size: 24px;
  }

 