<!-- Gallery area start -->
<div class="ltn__gallery-area " style="padding-top: 46px; margin-bottom:60px ;">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12" >
              <div class="section-title-area ltn__section-title-2 text-center">
                <h6 class="section-subtitle" style="color: #ffc300;">// Vidéothèque</h6>
                <h1 class="section-title">Contrôle technique en vidéos.</h1>
            </div>
            </div>
        </div>
       
  
        <!--Portfolio Wrapper Start-->
        <div class="ltn_gallery-active row ltn_gallery-style-1">
            <div class="ltn__gallery-sizer col-1" > 
            </div>
              
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_3 col-md-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                  <div class="ltn__gallery-item-img">
                    <iframe width="600px" height="266px" src="https://www.youtube.com/embed/-9gxkFlsOWc" frameborder="0" allowfullscreen></iframe>
                  </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a href="portfolio-details.html">Spot mutation véhicule تحويل ملكية المركبات </a></h4>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_2 col-md-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                  <div class="ltn__gallery-item-img">
                    <iframe width="600px" height="266px" src="https://www.youtube.com/embed/Q1yrPQC0T8o" frameborder="0" allowfullscreen></iframe>
                </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a href="portfolio-details.html">NARSA KHADAMAT تجديد رخصة السياقة والبطاقة الرمادية عبر الموقع
                      </a></h4>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_1 col-md-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                      <iframe width="600px" height="266px" src="https://www.youtube.com/embed/m1BLXx5wmoQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a href="portfolio-details.html">Procédure d'immatriculation de la moto عملية تسجيل الدراجات النارية</a></h4>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->              
        </div>
  
        <div style="text-align: center;" >
            <a href="plus-details" class="bnt theme-bnt-1" style="background-color:#e8edee; color:rgb(9, 160, 95); padding: 15px 40px 15px 40px;">Plus...</a>
        </div>
  
    </div>
 </div>

<!-- Team -->
<section id="team" class="section-bg-1" style="padding-top: 46px;
padding-bottom: 20px;">
    <div class="container">
        <div class="col-lg-12" >
            <div class="section-title-area ltn__section-title-2 text-center">
              <h6 class="section-subtitle" style="color: #ffc300;">// Question</h6>
              <h1 class="section-title" style="color: black;">Pourquoi le contrôle technique ?</h1>
          </div>
          </div>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="assets/img/card/card-1.jpg" alt="card image">
                                    <h4 class="card-title">Sécurité avant tout</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sécurité avant tout                                    </h4>
                                    <p class="card-text">Identifier toute anomalie liée au système de freinage, aux pneus, aux dispositifs d’éclairage, à la suspension, aux essieux, à la direction et aux roues, ainsi que certains éléments de la carrosserie, et les équipements de sécurité . </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="assets/img/card/card-2.jpg" alt="card image">
                                    <h4 class="card-title">Contrôle de pollution</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Contrôle de pollution                                   </h4>
                                    <p class="card-text">Lors de chaque visite, le véhicule est soumis à un contrôle de pollution, visant à s'assurer de l'absence de polluants atmosphériques en quantités excessives. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="assets/img/card/card-3.jpg" alt="card image">
                                    <h4 class="card-title">Attention à l'oubli !
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Attention à l'oubli !
                                    </h4>
                                    <p class="card-text"><span style="font-weight: bold;">Selon code de la route en vigueur | Article 184</span><br>
                                        L'absence de contrôle technique est considérée comme étant une contravention de première classe, elle est punie par une amende allant de 700 à 1 400 dirhams et le retrait de 3 point au permis du conducteur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="assets/img/card/card-4.jpg" alt="card image">
                                    <h4 class="card-title">Respect des normes</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sécurité avant tout </h4>
                                    <p class="card-text">Identifier toute anomalie liée au système de freinage, aux pneus, aux dispositifs d’éclairage, à la suspension, aux essieux, à la direction et aux roues, ainsi que certains éléments de la carrosserie, et les équipements de sécurité . </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->




<!-- COUNTER UP AREA START -->
<!-- COUNTER UP AREA START -->
<div class="ltn__counterup-area bg-image bg-overlay-theme-black-80 " data-bs-bg="assets/img/counter/AdobeStock_341431108-scaled.jpg"  style="padding-top: 38px; padding-bottom: 18px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="section-title-area ltn__section-title-2">
                    <h6 class="section-subtitle" style="color: #ffc300;">// STATISTIQUES</h6>
                    <h1 class="section-title white-color">Quelques Statistiques utiles<span>.</span></h1>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 align-self-center" style="padding-top: 43px;">
                <div class="ltn__counterup-item-3 text-color-white">
                    <div class="counter-icon"> // </div>
                    <h1><span class="counter">440</span><span class="counterUp-icon">+</span> </h1>
                    <h6> Centres</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 align-self-center" style="padding-top: 68px;">
                <div class="ltn__counterup-item-3 text-color-white">
                    <div class="counter-icon"> // </div>
                    <h1><span class="counter">4</span><span class="counterUp-letter"></span><span class="counterUp-icon">+</span> </h1>
                    <h6>Réseaux de <br> contrôle technique </h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 align-self-center " style="padding-top: 70px;">
                <div class="ltn__counterup-item-3 text-color-white">
                    <div class="counter-icon"> // </div>
                    <h1><span class="counter">2</span>M<span class="counterUp-icon"><span class="counter">300</span><span class="counterUp-icon"></span>+</span> </h1>
                    <h6>Contrôles techniques <br> par ans </h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 align-self-center" style="padding-top: 50px;">
                <div class="ltn__counterup-item-3 text-color-white">
                    <div class="counter-icon"> // </div>
                    <h1><span class="counter">3</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Taux de croissance</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COUNTER UP AREA END -->


  
  
