 <!-- SLIDER AREA START (slider-6) -->
 <div style="padding-top: 140px;" class="ltn__slider-area ltn__slider-3 ltn__slider-6 section-bg-1">
    <div style="height: 570px; margin-top: -25px;" class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1 arrow-white">

        <!-- ltn__slide-item  -->
        <div style="height: 450px;" class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-80" data-bs-bg="assets/200.jpg">
            <div class="ltn__slide-item-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <div class="slide-item-info" style="margin-top: -136px;">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <h6 class="slide-sub-title animated" style="color: #ffc300;text-transform: uppercase">// Contrôle technique au Maroc</h6>
                                            <h1 class="slide-title animated ">Trouvez votre centre de contrôle technique en quelques clics</h1>
                                            <div class="slide-brief animated">
                                                <p>Trouvez le centre de contrôle technique le plus proche de chez vous en un instant ! Utilisez notre outil de recherche ci-dessous et prenez rendez-vous facilement.</p>
                                            </div>
                                            <div class="slider-search"  class="btn-wrapper animated">
                                                <form class="d-flex" [formGroup]="formData" (submit)="onSubmit()">
                                                    <input style="margin-right: 5px; border-radius: 0px;" class="form-control" formControlName="data"  type="search" placeholder="Ville ou nom du centre ou nom du réseau" aria-label="Search">
                                                    <button  type="submit" class="bnt theme-bnt-1">Chercher</button>
                                                  </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <!-- ltn__slide-item  -->
        <div style="height: 450px;" class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-80" data-bs-bg="assets/41.jpg">
            <div class="ltn__slide-item-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center pdt">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <div class="slide-item-info" style="margin-top: -136px;">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <h6 class="slide-sub-title animated" style="color: #ffc300;text-transform: uppercase">// Contrôle technique au Maroc</h6>
                                            <h1 class="slide-title animated "> Prenez votre rendez-vous<br/> en quelques secondes</h1>
                                            <div class="slide-brief animated">
                                                <p>Assurez la sécurité de votre voiture dès aujourd'hui ! Prenez rendez-vous pour votre contrôle technique et conduisez en toute tranquillité.</p>
                                            </div>
                                            <div class="btn-wrapper animated">
                                                <a routerLink="/Rendez-vous" class="bnt theme-bnt-1"> <i class="fa-regular fa-calendar-check"></i> Réservez maintenant votre contrôle technique</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
          <!-- ltn__slide-item  -->
        <div style="height: 450px;" class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-5 text-color-white bg-image bg-overlay-theme-black-80" data-bs-bg="assets/54.jpg">
            <div class="ltn__slide-item-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info" style="margin-top: -136px;">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <div class="slide-item-info">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <h6 class="slide-sub-title animated" style="text-transform: uppercase;color: #ffc300;">// Contrôle technique au Maroc </h6>
                                            <h1 class="slide-title animated ">Partagez votre expérience, votre avis compte !</h1>
                                            <div class="slide-brief animated">
                                                <p>Votre opinion compte ! Partagez votre expérience avec nous. Nous sommes impatients de connaître votre feedback sur les services des centres de contrôle technique au Maroc. Aidez vos centres à s'améliorer en laissant vos commentaires ci-dessous.</p>
                                            </div>
                                            <div class="btn-wrapper animated">
                                                <a routerLink="/Comment" class="bnt theme-bnt-1"> <i class="fa-light fa-message-pen"></i> Partager mon avis</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- SLIDER AREA END -->