<!-- HEADER AREA START (header-5) -->
<header class="ltn__header-area ltn__header-5 ltn__header-transparent gradient-color-4"  style="margin-bottom: 200px;">
    <!-- ltn__header-top-area start -->
    <div class="ltn__header-top-area"  style="background-color:var(--white-4);">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="ltn__top-bar-menu">
                        <ul>
                            <li><a href="mailto:contact@siliad.ma?Subject=Flower%20greetings%20to%20you" style="font-weight: 500;"><i class="icon-mail"></i> contact@siliad.ma</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="top-bar-right text-end">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li>
                                    <!-- ltn__social-media -->
                                    <div class="ltn__social-media">
                                        <ul>
                                            <li><a class="cool-link" href="https://www.facebook.com/profile.php?id=100091538832917&mibextid=LQQJ4d" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a class="cool-link" href="https://www.instagram.com/siliad.maroc/?igshid=MzRIODBiNWFIZA%3D%3D" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                                            <li><a class="cool-link" href="https://www.linkedin.com/company/siliadsarl" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-top-area end -->
    
    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white ltn__logo-right-menu-option" >
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="site-logo-wrap">
                        <div class="site-logo" >
                            <a  href="/"><img  src="assets/3.png" alt="Logo"  style="width: 184px;"></a>
                        </div>
                    </div>
                </div>
                <div class="col header-menu-column">
                    <div class="header-menu d-none d-xl-block">
                        <nav>
                            <div class="ltn__main-menu">
                                <ul>
                                    <li><a class="cool-link" href="/Accueil"  [ngClass]="{'active':isAccueilRoute}" >ACCUEIL</a></li>  
                                    <li class="menu-icon"><a class="cool-link" [ngClass]="{'active':isServicesRoute}" >NOS SERVICES</a>
                                        <ul>
                                            <li><a class="cool-link1" routerLink="/Rendez-vous" [routerLinkActive]="'active'">Prenez un rendez-vous</a></li>
                                            <li><a class="cool-link1" routerLink="/Centres" [routerLinkActive]="'active'">Trouver votre centre le plus proche </a></li>
                                            <li><a class="cool-link1" routerLink="/Reclamation" [routerLinkActive]="'active'">Passer une réclamation</a></li>
                                            <li><a class="cool-link1" routerLink="/Comment" [routerLinkActive]="'active'">Donner votre avis</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-icon"><a class="cool-link" [ngClass]="{'active':isControleRoute}">CONTROLE TECHNIQUE</a>
                                        <ul>
                                            <li><a  class="cool-link1" routerLink="/ControleTechnique" [routerLinkActive]="'active'">Le contrôle technique</a></li>
                                            <li><a class="cool-link1" routerLink="/ouvrir-centre-visite-technique-maroc" [routerLinkActive]="'active'">Voulez-vous ouvrir un centre de visite technique ? </a></li>
                                            <li><a class="cool-link1" routerLink="/Tarifs" [routerLinkActive]="'active'">Les prix</a></li>
                                            <li><a class="cool-link1" routerLink="/Périodicité" [routerLinkActive]="'active'">Périodicité </a></li>
                                            <li><a class="cool-link1" routerLink="/Conseils-de-securite" [routerLinkActive]="'active'" >Conseils de sécurité </a></li>
                                        </ul>
                                    </li>
                                    <li><a class="cool-link" style="text-transform: uppercase;"  routerLink="/Titre-de-propriété" [routerLinkActive]="'active'">TITRES DE propriété</a></li>
                                    <li><a class="cool-link" style="text-transform: uppercase;"  routerLink="/Centres" [routerLinkActive]="'active'">Centres</a></li>
                                    <li><a class="cool-link" style="text-transform: uppercase;"  routerLink="/Contact" [routerLinkActive]="'active'">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                   
                </div>
                <div class="ltn__header-options ltn__header-options-2">
                     <!-- header-search-1 -->
                     <div class="header-search-wrap">
                        <div class="header-search-1">
                            <div class="search-icon">
                                <i class="icon-search for-search-show"></i>
                                <i class="icon-cancel  for-search-close"></i>
                            </div>
                        </div>
                        <div class="header-search-1-form" style="width: 990px;">
                          
                            <form method="get" (ngSubmit)="onSearch()" [formGroup]="myForm">
                                <div class="d-flex mr-auto p-2">
                                    <div class="d-inline" style="width: 250px;">
                                        <div class="p-2  flex-grow-1">
                                            <input type="text"  formControlName="city"    placeholder="Nom du centre..."/>
                                          
                                        </div>
                                      </div>
                                      <div class="d-inline">
                                        <div class="p-2  flex-grow-1">
                                            <input type="text"  formControlName="Vile"   list="Ville"  placeholder="Nom du ville..."/>
                                            <datalist id="Ville">
                                                <option *ngFor="let ville of Ville" [value]="ville">{{ville}}</option>
                                            </datalist>
                                        </div>
                                      </div>
                                      <div class="d-inline">
                                        <div class="p-2  flex-grow-1">
                                            <input type="text"  formControlName="nReseau"  list="Reseau" placeholder="Nom du réseau..."/>
                                            <datalist id="Reseau">
                                                <option *ngFor="let reseau of NomReseau" [value]="reseau">{{reseau}}</option>
                                            </datalist>
                                        </div>
                                      </div>
                                      <div class="d-inline">
                                      <div class="p-2  flex-grow-1"> 
                                       <button  type="submit"  style="top: 15px;
                                       width: 133px;
                                       background-color: var(--ltn__secondary-color-3);
                                       color: white;font-family: 'Roboto', sans-serif;" class="button-search"   > Chercher </button>
                                    </div>
                                </div>
                                </div>
                                 
                            </form>
                        </div>
                    </div>
                    <!-- user-menu -->
                    <!-- Mobile Menu Button -->
                    <div class="mobile-menu-toggle d-xl-none">
                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                            <svg viewBox="0 0 800 600">
                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-middle-area end -->
</header>


<!-- Utilize Mobile Menu Start -->
<div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <div class="site-logo">
                <a href="/"><img  src="assets/3.png" class="Logo" alt="Logo" style="width: 200px;"></a>
            </div>
            <button class="ltn__utilize-close">x</button>
        </div>
        <div class="ltn__utilize-menu-search-form">
            <form method="get" (ngSubmit)="onSearch()" [formGroup]="myForm">
                <div class="p-2  flex-grow-1">
                    <div class="p-2  flex-grow-1">
                    <input type="text"  formControlName="city"    placeholder="Nom du centre..."/>
                    </div>
                    <div class="p-2  flex-grow-1">
                        <input type="text"  formControlName="Vile"   list="Ville"  placeholder="Nom du Ville..."/>
                    </div>    
                    <div class="p-2  flex-grow-1">
                        <input type="text"  formControlName="nReseau"  list="Reseau" placeholder="Nom du Reseau..."/>
                    </div>    
                    <div class="p-2  flex-grow-1 "> 
                        <button  type="submit" class="btnSearch" style="margin-left: 31px;
                        width: 193px;" > Chercher </button>
                     </div>
                </div>

            </form>
        </div>
        <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
           
        </div>
        <div class="ltn__utilize-menu">
            <ul>
                <li><a class="cool-link" style="text-transform: uppercase;" href="/">Accueil</a></li>
                <li><a >Nos services</a>
                    <ul class="sub-menu">
                        <li><a class="cool-link" routerLink="/Rendez-vous">Prenez un rendez-vous</a></li>
                        <li><a class="cool-link" routerLink="/Centres">Trouver votre centre le plus proche </a></li>
                        <li><a class="cool-link" routerLink="/Reclamation">Passer une réclamation</a></li>
                        <li><a class="cool-link" routerLink="/Comment">Donner votre avis</a></li>
                    </ul>
                </li>
                <li><a class="cool-link" style="text-transform: uppercase;" >Controle technique</a>
                    <ul class="sub-menu" >
                        <li><a class="cool-link" routerLink="/ControleTechnique">Le contrôle technique</a></li>
                        <li><a class="cool-link" routerLink="/ouvrir-centre-visite-technique-maroc">Voulez-vous ouvrir un centre de visite technique ? </a></li>
                        <li><a class="cool-link" routerLink="/Tarifs">Les prix</a></li>
                        <li><a class="cool-link" routerLink="Périodicité">Périodicité </a></li> 
                        <li><a class="cool-link" routerLink="Conseils-de-securite">Conseils de sécurité </a></li>
                    </ul>

                </li>
                <li><a class="cool-link" style="text-transform: uppercase;" routerLink="/Titre-de-propriété">Titres de propriété</a></li>
                <li><a class="cool-link"  style="text-transform: uppercase;" routerLink="/Centres">Centres</a></li>
                <li><a class="cool-link" style="text-transform: uppercase;" routerLink="/Contact">Contact</a></li>
            </ul>
        </div>
        <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
           
        </div>
        <div class="ltn__social-media-2">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100091538832917&mibextid=LQQJ4d" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/siliad.maroc/?igshid=MzRIODBiNWFIZA%3D%3D" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/siliadsarl" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Utilize Mobile Menu End -->
<div class="ltn__utilize-overlay"></div>

<script>
    (function (e) {
      let disableEvents = false; // Set this flag to true to disable events

      e.fn.niceSelect = function (t) {
        function createNiceSelect(t) {
          // Rest of the function implementation...
        }

        // Check if events should be disabled and return immediately if true
        if (disableEvents) {
          return this;
        }

        // Rest of the function implementation...
      };
    }(jQuery));
    </script>