<!-- BREADCRUMB AREA START -->
<div class="media">
    <div
      class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
      data-bs-bg="assets/500.png"
      style="padding-top: 96px;   padding-bottom:104px;background-image: url('assets/500.png');"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div
              class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between"
            >
              <div class="section-title-area ltn__section-title-2">
                <h6 class="section-subtitle" style="color: #fcc300;">
                  // Bienvennue chez nous
                </h6>
                <h1 class="section-title white-color" style="color: white; font-size: 45px;">Quand dois-je passer le contrôle technique ?</h1>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container">
    <div class="row" style="margin-top: -104px;">
       <div class="col-lg-8">
        <h1 class="title-period" style="font-size: 3rem;line-height: 1.2;">
            Quand dois-je passer le contrôle technique ?
        </h1>
        <div class="mb-2text-justify">
            <p><span><span><span><span><span>Le contrôle technique est une opération &nbsp;qui a pour <span>but</span> de vérifier la conformité des véhicules aux conditions réglementaires en vigueur et de s'assurer s'ils sont aptes à circuler sur la voie publique.</span></span></span></span></span></p>
    
            <p><span><span><span><span><span>Cette opération vise à s’assurer du bon état du véhicule, de son équipement en organes de sécurité nécessaires et de l'absence de dysfonctionnements et de défauts mécaniques ou techniques.</span></span></span></span></span></p>
    
          </div>
          
          
       </div>
       <div class="col-lg-4">
        <img style="width: 100%;height:353px;border-radius: 6px;
        box-shadow: 4px 4px 4px -1px gray;" src="assets/img/33.png">
       </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="my-3 py-0"><h3>1. Les véhicules particuliers qui ne sont pas astreints à une autre périodicité en vertu des textes spéciaux</h3>
    
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant la fin de la cinquième année après la date de la première mise en circulation</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>2. Les véhicules de transport de marchandises pour compte d’autrui et pour compte propre</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant la fin de la première année après la date de la première mise en circulation</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>3. Les véhicules dits «&nbsp;TAXI&nbsp;» de 1<sup>ère</sup> et de 2<sup>ème</sup> catégorie et les taxis de grande remise «&nbsp;TGR&nbsp;»</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant la fin de la première année après la date de la première mise en circulation</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>4. Les véhicules destinés à l’enseignement de la conduite</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant la fin de la cinquième année après la date de la première mise en circulation</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>5. Les véhicules automobile loués sans chauffeur</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Date du deuxième contrôle</b></p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant la fin de la cinquième année après la date de la première mise en circulation</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Si l’âge du véhicule au moment de la demande du contrôle technique ≤ 18 mois. Validité du procès-verbal : un (1) an.</p>
                
                            <p align="center" style="text-align:center">- Si l’âge du véhicule au moment de la demande du contrôle technique ≥&nbsp;18 mois. Validité du procès-verbal&nbsp;: six (6) mois</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : six (6) mois</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>6. Les véhicules de transport mixte de personnes</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="width: 50%;border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant la fin de la première année après la date de la première mise en circulation</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : un (1) an</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Si l’âge du véhicule au moment de la demande du contrôle technique ≤ 54 mois (4,5 ans). Validité du procès-verbal : un (1) an.</p>
                
                            <p align="center" style="text-align:center">- Si l’âge du véhicule au moment de la demande du contrôle technique ≥ 54 mois (4,5 ans). Validité du procès-verbal : six (6) mois</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>7. Les véhicules de transport public en commun de personnes urbains et interurbains</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant l’écoulement des 6 mois après la date de la première mise en circulation.</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : six (6) mois</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : six (6) mois</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <h3>8. Les véhicules de transport privé en commun de personnes</h3>
                
                <table class="Table" style="width:100%; margin-left:-1px; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="border-bottom:#366092;border-top: 1px solid #366092;border-bottom: 1px solid #366092;border-right: 1px solid #366092;border-left: 1px solid #366092;">
                            <p align="center" style="text-align:center;color: #8599b7;"><b>Date du premier contrôle</b></p>
                            </td>
                            <td colspan="3" style="border-bottom:1px solid #366092;border-top:1px solid black;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="margin-left:-10px; text-align:center; text-indent:7.5pt;color: #8599b7;"><b>Contrôles périodiques suivants</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:1px solid black;">
                            <p style="text-align:center">Avant l’écoulement des 6 mois après la date de la première mise en circulation.</p>
                
                            <p style="text-align:center">- Validité du procès-verbal : six (6) mois</p>
                            </td>
                            <td style="border-bottom:1px solid #366092;border-right:1px solid #366092;border-left:none;">
                            <p align="center" style="text-align:center">Avant la date d’échéance du contrôle périodique obligatoire précédent</p>
                
                            <p align="center" style="text-align:center">- Validité du procès-verbal : six (6) mois</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </div>
    
    
    </div>