h1.title-period::after{
    content: "";
    display: block;
    background-color: var(--ltn__secondary-color);
    width: 30%;
    height: 0.375rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    font-family: 'Roboto', sans-serif;
}
td {
    color: #8599b7;
}
h3 {
    color: #3f56aa;
    font-family: 'Roboto', sans-serif;
}
h3::after {
    content: "";
    display: block;
    background-color: var(--ltn__secondary-color);
    width: 3.125rem;
    height: 0.375rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    font-family: 'Roboto', sans-serif;
}
.Table{
    
    margin-bottom: 10px;

}

.media{
    padding-top: 117px;
  }
  @media (max-width:767px){
    .ltn__breadcrumb-area-2{
        margin-top: 43px;
    }
  }