
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-form-field {
    margin-top: 16px;
  }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mdc-filled-text-field-container-color);
    
}

.mat-mdc-form-field {
   
     display: inline; 
} 

p {
  font-family: 'Roboto', sans-serif;  }
  
  .swal2-styled.swal2-cancel {
    background-color: var(--bs-green);
  }
.button{
  background-color: var(--mat-stepper-header-selected-state-icon-background-color);
  color: white;
  padding: 9px 25px 9px 25px;
  border-radius: 4px;
  font-size: bold;
  margin-right: 20px;
}
.Annuler{
  background-color: rgb(221, 87, 87);
  color: white;
  padding: 9px 25px 9px 25px;
  border-radius: 4px;
  font-size: bold;
  margin-right: 20px;
}
.Soumettre{
  background-color:var(--bs-green);
  color: white;
  padding: 9px 25px 9px 25px;
  border-radius: 4px;
  font-size: bold;
  margin-right: 20px;
}

.mdc-text-field--filled {
  background-color: var(--mdc-filled-text-field-container-color);
  height: 122px;
}


.ltn__footer-timeline-widget{
   
    border-bottom:0;
     border-color:none;
     margin-top:0;
  }
  .clearfix{
    width: 89%;
    margin: auto;
  
  }
  /* Style for the dropdown container */
  .dropdown {
   position: relative;
   display: inline-block;
  }
  
  /* Style for the dropdown button */
  .with-before::before {
   content: "";
   display: inline-block;
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: red;
   margin-right: 0.75rem;
  }
  
  .with-before-alt::before {
   content: "";
   display: inline-block;
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: green;
   margin-right: 0.75rem;
  }
  .actions1 .action,.actions2 .action,.actions3 .action,.actions4 .action {
  
  color: white;
  }
  
  .actions1:hover,.actions2:hover,.actions3:hover,.actions4:hover{
  
     transform: translateY(5px);
     transition: transform 0.3s;
  
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
     color: white;
  
  }
  .actions .action {
   font-size: 15px;
   color        : #728599;
   font-family: 'Roboto', sans-serif;
  
   height       : 20px;
   line-height  : 20px;
   display      : block;
   margin       : 5px 0px 5px 80px;
  
  }
  
  .actions:hover{
  
     transform: translateY(-2px);
     transition: transform 0.3s;
     background-color: #A4DC00;
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
     color: white;
  
  }
  .actions .action::before {
   background : url(https://www.securitest.fr/images/front/sprites-centre.png) 0 0 no-repeat transparent;
  }
  
  .actions .view-centre:before {
   background-position : 0 -86px;
   width               : 18px;
   height              : 20px;
  }
  
  .actions .web-site:before {
   background-position: 0px -67px;
   width: 19px;
   height: 20px;
   margin-left: -20px;
  
  }
  
  .ico-before:before {
   content: ' ';
   position: absolute;
  }
  
  
  
  
  
  
  
  
  
  
  .dropdown-button {
   
   padding: 10px;
   cursor: pointer;
  }
  
  /* Style for the dropdown content (hidden by default) */
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }
  
  /* Style for list items in the dropdown */
  .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
  }
  
  /* Change color of list items on hover */
  .dropdown-content a:hover {
   background-color: #f1f1f1;
  }
  
  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown:hover .dropdown-content {
   display: block;
  }
  
  .map-container {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    
  }
  #map {
  
  width: 100%;
  height: 400px;
  z-index: 1;
  }
  
  .map-frame {
    padding: 10px;
    background-color: darkseagreen;
    border: 2px solid rgb(216, 210, 210);
    height: 590px;
    width: 100%;
    margin-top: 660px;
  }
  .commont{
   background-color: var(--ltn__secondary-color-3);
   height: 61px;
   width: auto;
   font-family: 'Roboto', sans-serif;
   font-size: 19px;
   font-weight: bold;
   color: #fff;
  }
  .button1{
   background-color: var(--bs-green);
   color: var(--border-color-1);
   padding: 8px 15px 8px 15px;
  }
  .button2{
   background-color: var(--bs-green);
   color: var(--border-color-1);
   padding: 8px 16px 8px 17px;
  }
  .button1:hover{
   background-color:white;
   color: black;
  }
  .button2:hover{
   background-color:white;
   color: black;
  }
  
  .buttonUl{
   list-style: none;
   display: inline;
  }
  @media(max-width:767px){
  .button1{
   font-size: 8.5px;
  }
  }
  @media(max-width:767px){
   .button2{
    font-size: 8.5px;
   }
  }
  @media(max-width:767px){
   .titre{
    font-size: 14px;
  }
  }