
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-form-field {
    margin-top: 16px;
  }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mdc-filled-text-field-container-color);
    
}

.mat-mdc-form-field {
   
     display: inline; 
} 

p {
  font-family: 'Roboto', sans-serif;  }
  
  .swal2-styled.swal2-cancel {
    background-color: var(--bs-green);
  }
.button{
  background-color: var(--mat-stepper-header-selected-state-icon-background-color);
  color: white;
  padding: 9px 25px 9px 25px;
  border-radius: 4px;
  font-size: bold;
  margin-right: 20px;
}
.Annuler{
  background-color: rgb(221, 87, 87);
  color: white;
  padding: 9px 25px 9px 25px;
  border-radius: 4px;
  font-size: bold;
  margin-right: 20px;
}
.Soumettre{
  background-color:var(--bs-green);
  color: white;
  padding: 9px 25px 9px 25px;
  border-radius: 4px;
  font-size: bold;
  margin-right: 20px;
}

.mdc-text-field--filled {
  background-color: var(--mdc-filled-text-field-container-color);
  height: 122px;
}

::ng-deep .mat-step-icon-state-edit {
  border: 2px solid green;
  background-color: #FFFF !important;
}

::ng-deep .mat-step-icon-state-edit::before{
  content: "\2714"!important;
  font-size: 20px!important;
  color: #3f51b5 !important;
  top: -6px;
  left: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
}
::ng-deep .mat-step-icon .mat-icon {
  display: none !important;
}



