.media{
  padding-top: 117px;
}
@media (max-width:767px){
  .ltn__breadcrumb-area-2{
      margin-top: 43px;
  }
}
*{
  font-family: 'Roboto', sans-serif;
}
p {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
  strong {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  ul, li {
    list-style-type: disc;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
  }

  @media (max-width:767px){
    .image1{
        width: 100%;
    }
}

img {
  width: 100%;
}
@media (min-width: 40em) {
  /* Probably some parent element that limits the img width */
  main {
    width: 80%;
  }
}

  ul {
    color: #009933; /* Couleur verte pour les éléments de la liste */
  }
  li {
    color: #898786; /* Couleur orange pour les éléments de liste */
    line-height: 1.5;
  }
  h2{
    color: var(--bs-green);
  }
  .content{
   margin-top: -90px;
  }