<!-- BREADCRUMB AREA START -->
<div class="media">
  <div
    class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
    data-bs-bg="assets/titre-de-propriete-moto.jpg"
    style="padding-top: 103px; padding-bottom: 85px;background-image: url(assets/titre-de-propriete-moto.jpg);"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between"
          >
            <div class="section-title-area ltn__section-title-2">
              <h6 class="section-subtitle" style="color: #fcc300;">
                // Cyclomoteurs dont la cylindrée &lt; 50 CM3
              </h6>
              <h1 class="section-title white-color" style="color: white;">Titres de propriété</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content ltn__page-details-area ltn__portfolio-details-area mb-105"  >
    <div class="container">
        <div class="row" style="margin-top: -115px;">
            <div class="col-lg-8">
                <div class="ltn__page-details-inner ltn__portfolio-details-inner">
                    <h2>Règles d'immatriculation pour les véhicules terrestres à moteur, cyclomoteurs, tricycles et quadricycles</h2>
                    <p>La plaque d’immatriculation d’une moto est obligatoire, comme pour tout véhicule terrestre à moteur. Elle permet une identification facile du propriétaire du deux-roues lors d’un contrôle par les autorités routières.</p>
                    <p>Dispositions particulières relatives aux cycles, tricycles et quadricycles :</p>
                    <ul>
                    <li>Tout propriétaire de cyclomoteur, tricycle à moteur ou quadricycle à moteur doit :</li>
                    <ul>
                        <li>Disposer d’un titre de propriété, mentionnant notamment son identité et son adresse.</li>
                        <li>Porter un numéro d’ordre à mentionner sur le titre de propriété.</li>
                    </ul>
                    <li>Le conducteur de ces véhicules doit être muni de leur titre de propriété ou du document qui le remplace lors de la circulation sur la voie publique et le présenter aux agents habilités au contrôle à chaque demande.</li>
                    <li>Tout cycle, tout tricycle, tout quadricycle, tout cyclomoteur, tout tricycle à moteur ou quadricycle à moteur peut ne porter qu’une plaque d’immatriculation :</li>
                    <ul>
                        <li>Indiquant son numéro d’ordre.</li>
                        <li>Fixée en évidence de manière inamovible à l’arrière du véhicule.</li>
                    </ul>
                    <li>En outre, les véhicules doivent porter une plaque métallique apparente indiquant le nom du constructeur ainsi que la cylindrée du moteur ou sa puissance.</li>
                    <li>L’indication de la cylindrée ou de la puissance doit être gravée de manière apparente sur le moteur.</li>
                    <li>Cependant, une remorque attelée à un motocycle, à un cyclomoteur, à un quadricycle léger à moteur ou à un tricycle à moteur ne doit porter à l’arrière une plaque d’immatriculation reproduisant le numéro d’immatriculation du véhicule tracteur que si les dimensions de la remorque ou du chargement empêchent la visibilité de la plaque d’immatriculation du véhicule tracteur pour un observateur placé à l’arrière.</li>
                    </ul>
                    <h2>Qu’est-ce qu’un titre de propriété ?</h2>
                    <p>Le titre de propriété est l’acte officiel qui permet de démontrer que l’on est propriétaire d’un bien, que celui-ci ait été acheté, transmis par donation, par héritage ou à la suite d’un partage.</p>
                    <h2>Cylindrée moto </h2>
                    <p>La cylindrée d'une moto fait référence au volume total de tous les cylindres du moteur. Elle est généralement exprimée en centimètres cubes (cm³) et représente la capacité totale de combustion du moteur. La cylindrée a un impact direct sur les performances du moteur, notamment sa puissance et son couple. Plus la cylindrée est élevée, plus le moteur a potentiellement de la puissance et du couple, ce qui peut se traduire par une accélération plus rapide et une vitesse maximale plus élevée.</p>
                    <p>Par exemple, une moto avec une cylindrée de 600 cm³ aura un moteur plus puissant qu'une moto avec une cylindrée de 250 cm³.</p>
                    <p>Il est important de noter que la cylindrée n'est pas le seul facteur déterminant les performances d'une moto. La conception du moteur, l'injection de carburant, la transmission et d'autres composants jouent également un rôle crucial.</p>
                    <p>Le moteur d’une moto à essence fonctionne grâce à un piston, à l’intérieur d’un cylindre qui, en tournant, compresse un gaz (« explosion ») qui produit la propulsion de l’engin.</p>
                    <p>La cylindrée d’un moteur est le produit du volume d’un cylindre par le nombre de cylindres. Elle s’exprime en cm<sup>3</sup>.</p>
                    <h2>Le numéro d'ordre</h2>
                    <p>Le numéro d’ordre est reproduit d’une manière apparente à l’arrière du véhicule sur une plaque en caractères noir sur fond blanc en matière réfléchissante. Cette plaque doit être rigide en métal et fixée à l’arrière du véhicule sur un support inamovible.</p>
                    <p>Ce numéro est également reproduit sur un adhésif portant le code à barres à coller sur un élément du châssis par l’agent visiteur ayant contrôlé le véhicule. L’adhésif doit être positionné de manière à être protégé et accessible.</p>
                    <p>Le numéro d’ordre est composé de deux parties allant de haut en bas:</p>
                    <ul>
                    <li>Première partie: comporte le numéro spécifique de la préfecture ou de la province de rattachement du centre ayant délivré le numéro d’ordre;</li>
                    <li>Deuxième partie: indique l’ordre d’enregistrement du véhicule allant de un à six chiffres (1 à 999999) au maximum.</li>
                    </ul>
                    <p>Les deux parties doivent être séparées par un trait horizontal et disposées sur deux lignes.</p>
                    <p>Aucun autre signe ou symbole non prévu par les dispositions du présent arrêté ne doit être incorporé dans les plaques d’immatriculation sécurisées portant le numéro d’ordre à l’exception des éléments mentionnés dans les dispositions du présent arrêté.</p>
                    <div class="ltn__blog-img">
                        <img src="assets/titre-de-propriete-moto.jpg" alt="Image"  class="image1"   sizes="(min-width: 40em) 80vw, 100vw">
                    </div>
                    <h2>Titre de propriété</h2>
                    <p>Tout cyclomoteur, tricycle à moteur et quadricycle léger à moteur doit être muni d’une plaque portant un numéro d’ordre et son conducteur doit être en possession du titre de propriété correspondant, ainsi qu’une étiquette de traçabilité comportant un numéro d’ordre identique à celui de la plaque d’immatriculation et du titre précité. Cette étiquette sera collée sur un élément du châssis du motocycle.</p>
                    <p>Le titre de propriété est établi sur un support papier sécurisé comprenant les informations visibles suivantes :</p>
                    <ul>
                    <li>A l’entête « Royaume du Maroc » en arabe, amazigh et en français, suivi du ministère de l’équipement, du « transport et de la logistique » en arabe, amazigh et en français ;</li>
                    <li>L’intitulé du document « titre de propriété » en arabe et en français ;</li>
                    <li>La mention « numéro d’ordre » en arabe et en français;</li>
                    <li>Le numéro d’ordre en chiffres ;</li>
                    <li>Le numéro d’ordre converti en code à barres ;</li>
                    <li>Le numéro d’ordre répété en dessous du code à barres;</li>
                    <li>Le nom et prénom du propriétaire en arabe et en français ;</li>
                    <li>L’adresse du propriétaire ;</li>
                    <li>Le numéro de la carte nationale d’identité du propriétaire ;</li>
                    <li>La marque du véhicule;</li>
                    <li>La catégorie du véhicule ;</li>
                    <li>Le type du véhicule ;</li>
                    <li>Le numéro du châssis ;</li>
                    <li>La cylindrée ou la puissance dans le cas d’un véhicule électrique;</li>
                    <li>La date et le lieu de délivrance et le cachet du centre de contrôle technique ayant délivré le titre de propriété ;</li>
                    <li>La date de la première mise en circulation;</li>
                    <li>La date de mutation ;</li>
                    <li>Le numéro d’autorisation,</li>
                    <li>Le nom du réseau ;</li>
                    <li>Le visa, et cachet de l’agent visiteur qui a délivré le document;</li>
                    <li>Le numéro de série de traçabilité du titre de propriété.</li>
                    </ul>
                    <hr style="color: black; font-weight: 2px;">
                    <h2>Textes de référence:</h2>
                    <div class="ltn__utilize-menu" style="padding: 10px;">
                        <ul style="padding: 10px;">
                            <li><strong>Loi n° 52-05 : Dispositions particulières relatives aux cycles, tricycles et quadricycles</strong>
                                <ul class="sub-menu">
                                    <div >
                                        <h4>Dahir n° 1-10-07 du 11 février 2010 portant promulgation de la loi <span class="text-primary">n° 52-05</span> portant code de la route.</h4>
                                        <h3>Article </h3>
                                        <p>Tout propriétaire de cyclomoteur, tricycle à moteur ou quadricycle à moteur, autres que visés à l’article 53 ci-dessus, doit disposer d’un titre de propriété, mentionnant notamment son identité et son adresse. Chacun des véhicules précités doit  porter un numéro d’ordre à mentionner sur le titre de propriété susvisé.</p>
                                        <p>L’administration fixe par voie réglementaire, la forme et le contenu du titre de propriété et la procédure de son obtention ainsi que du numéro d’ordre desdits véhicules.</p>
                                        <p>Les véhicules précités doivent être dotés d’une plaque d’immatriculation portant le numéro d’ordre susvisé. L’administration détermine les caractéristiques et les conditions de fixation desdites plaques sur le véhicule.</p>
                                        <p>L’administration peut confier l’établissement et la délivrance des titres de propriétés et plaques aux personnes agréées par elle, selon les conditions déterminées par voie réglementaire.</p>
                                        <p>Les dispositions du présent article s’appliquent également aux cycles, tricycles et quadricycles.</p>
                                        <p>Le conducteur desdits véhicules doit être muni de leur titre de propriété ou le document qui le remplace lors de la circulation sur la voie publique et le présenter aux agents habilités au contrôle du respect des dispositions de cette loi et les textes pris pour son application à chaque fois qu’ils le demandent.</p>
                                    </div>
                                  
                                </ul>
                                
                            </li>
                            <li><strong> Décret n° 2-10-421 : Plaque d’immatriculation</strong>
                                <ul class="sub-menu">
                                    <div >
                                        <h3><span class="text-primary ">Décret n° 2-10-421 </span>Décret n° 2-10-421 du 29 septembre 2010 - Code de la Route</h3>
                                        <h4>Chapitre VII - Organes d’éclairage et de signalisation</h4>
                                        <h3>Article 49</h3>
                                        <p>Tout véhicule à moteur ou toute remorque doit être muni d’un dispositif lumineux capable de rendre lisible, à une distance minimale de 20 mètres, la nuit, par temps clair, le numéro inscrit sur sa plaque d’immatriculation arrière.</p>
                                        <p>Pour les véhicules agricoles remorqués, ce dispositif peut être fixé sur un support amovible.</p>
                                        <p>Les dispositions du premier alinéa du présent article ne sont applicables ni aux cyclomoteurs, ni aux quadricycles légers à moteur, qui, toutefois, peuvent être munis d’un dispositif d’éclairage de la plaque d’immatriculation.</p>
                                        <p>Les dispositions du présent article ne sont applicables aux véhicules et matériels spéciaux des services de secours et de lutte contre l’incendie que si elles sont compatibles avec leurs caractéristiques techniques de fabrication ou d’emploi.</p>
        
                                        <h2>Chapitre II - Plaque d’immatriculation</h2>
                                        <h3>Article 102</h3>
                                        <p>Conformément aux dispositions de l’article 61 de la loi n° 52-05 précitée, les véhicules immatriculés doivent être munis de deux plaques d’immatriculation, portant le numéro assigné au véhicule et fixées en évidence d’une manière inamovible à l’avant et à l’arrière du véhicule.</p>
                                        <p>Toutefois, tout motocycle, tout tricycle ou quadricycle à moteur, peut ne porter qu’une plaque d’immatriculation, fixée en évidence d’une manière inamovible à l’arrière du véhicule.</p>
                                        <p>Toute remorque dont le poids total autorisé en charge est supérieur à 750 kilogrammes et toute autre semi-remorque doit être munie d’une plaque d’immatriculation portant son numéro d’immatriculation et fixée en évidence, d’une manière inamovible, à l’arrière du véhicule.</p>
                                        <p>La remorque arrière d’un ensemble de véhicules, lorsqu’elle n’est pas soumise à cette obligation, doit être munie à l’arrière d’une plaque d’immatriculation reproduisant la plaque arrière du véhicule tracteur. La plaque de la remorque peut, dans ce cas, être amovible.</p>
                                        <p>Toutefois, toute remorque attelée à un motocycle, à un cyclomoteur, à un quadricycle léger à moteur ou à un tricycle à moteur ne doit porter à l’arrière une plaque d’immatriculation reproduisant le numéro d’immatriculation du véhicule tracteur que si les dimensions de la remorque ou du chargement sont telles que la plaque d’immatriculation du véhicule tracteur n’est pas visible pour un observateur placé à l’arrière.</p>
        
                                        <h2>TITRE V - DISPOSITIONS PARTICULIÈRES RELATIVES AUX CYCLES, TRICYCLES ET QUADRICYCLES</h2>
                                        <h3>Article 110</h3>
                                        <p>Conformément aux dispositions de l’article 64 de la loi n° 52-05 précitée, le ministre de l’équipement et des transports fixe par arrêté les modalités d’homologation des cycles, des tricycles, des quadricycles, des cyclomoteurs, des tricycles à moteurs et des quadricycles à moteur.</p>
                                        <h3>Article 111</h3>
                                        <p>Conformément aux dispositions de l’article 65 de la loi n° 52-05 précitée, la forme et le contenu du titre de propriété et du numéro d’ordre des cycles, tricycles et quadricycles ainsi que les modalités de délivrance de ces numéros d’ordre et les dispositions transitoires sont fixées par arrêté du ministre de l’équipement et des transports.</p>
                                        <h3>Article 112</h3>
                                        <p>Conformément à l’article 65 de la loi n° 52-05 précitée, tout cycle, tout tricycle, tout quadricycle, tout cyclomoteur, tout tricycle à moteur ou quadricycle à moteur, doit porter une plaque indiquant son numéro d’ordre dont les caractéristiques sont fixées par arrêté du ministre de l’équipement et des transports.</p>
                                        <p>En outre, les cyclomoteurs, les tricycles à moteur et les quadricycle à moteur doivent porter d’une manière apparente une plaque métallique fixée au véhicule indiquant le nom du constructeur, ainsi que la cylindrée du moteur ou sa puissance.</p>
                                        <p>L’indication de la cylindrée ou la puissance doit être gravée d’une manière apparente sur le moteur.</p>
        
                                    </div>
                                </ul>
                            </li>
                            <li><strong> Arrêté n° 4127-12 : Titre de propriété et du numéro d'ordre</strong>
                                <ul class="sub-menu">
                                    <div>
                                        <h4>Arrêté du 12 décembre 2012 - Titre de Propriété et Numéro d'Ordre</h4>
                                            <h2>Article 1</h2>
                                            <p>Tout cyclomoteur, tricycle à moteur et quadricycle léger à moteur doit être muni d’une plaque portant un numéro d’ordre et son conducteur doit être en possession du titre de propriété correspondant, ainsi qu’une étiquette de traçabilité comportant un numéro d’ordre identique à celui de la plaque d’immatriculation et du titre précité. Cette étiquette sera collée sur un élément du châssis du motocycle.</p>

                                            <h2>Article 2</h2>
                                            <p>Le titre de propriété, dont le modèle est fixé à l’annexe I du présent arrêté est établi sur un support papier sécurisé (format 130 mm x 176 mm) comprenant les informations visibles suivantes :</p>
                                            <ul>
                                            <li>A l’entête « Royaume du Maroc » en arabe, amazigh et en français, suivi du ministère de l’équipement, du « transport et de la logistique » en arabe, amazigh et en français ;</li>
                                            <li>L’intitulé du document « titre de propriété » en arabe et en français ;</li>
                                            <li>La mention « numéro d’ordre » en arabe et en français;</li>
                                            <li>Le numéro d’ordre en chiffres ;</li>
                                            <li>Le numéro d’ordre converti en code à barres ;</li>
                                            <li>Le numéro d’ordre répété en dessous du code à barres;</li>
                                            <li>Le nom et prénom du propriétaire en arabe et en français ;</li>
                                            <li>L’adresse du propriétaire ;</li>
                                            <li>Le numéro de la carte nationale d’identité du propriétaire ;</li>
                                            <li>La marque du véhicule;</li>
                                            <li>La catégorie du véhicule ;</li>
                                            <li>Le type du véhicule ;</li>
                                            <li>Le numéro du châssis ;</li>
                                            <li>La cylindrée ou la puissance dans le cas d’un véhicule électrique;</li>
                                            <li>La date et le lieu de délivrance et le cachet du centre de contrôle technique ayant délivré le titre de propriété ;</li>
                                            <li>La date de la première mise en circulation;</li>
                                            <li>La date de mutation ;</li>
                                            <li>Le numéro d’autorisation,</li>
                                            <li>Le nom du réseau ;</li>
                                            <li>Le visa, et cachet de l’agent visiteur qui a délivré le document;</li>
                                            <li>Le numéro de série de traçabilité du titre de propriété.</li>
                                            </ul>
                                            <p>Le titre de propriété est attaché à deux quittances détachables : une première (format 80 mm x 176 mm) transmise au propriétaire du véhicule et une seconde (format «210 mm x 120 mm) destinée au Centre de contrôle technique.</p>
                                            <ul>
                                            <li>L’intitulé de la quittance « quittance de paiement et de retrait » suivi de la mention « contrôle préalable à l’obtention du titre de propriété » en arabe et en français ;</li>
                                            <li>Le code à barres reprenant le numéro d’ordre du titre de propriété;</li>
                                            <li>La mention « client » en arabe et en français ;</li>
                                            <li>Le nom et prénom du propriétaire du véhicule en arabe et en français ;</li>
                                            <li>Le numéro de la carte nationale d’identité ou le numéro de la patente, en arabe et en français ;</li>
                                            <li>Le numéro d’ordre en arabe et en français ;</li>
                                            <li>La date en arabe et en français ;</li>
                                            <li>Le prix hors taxe ;</li>
                                            <li>La mention « TVA » et sa valeur ;</li>
                                            <li>Le « prix TTC »;</li>
                                            <li>Une zone destinée pour la signature et le cachet du centre de visite technique;</li>
                                            <li>Une zone destinée pour la signature et le cachet du client;</li>
                                            <li>Le numéro de série de traçabilité des quittances de paiement.</li>
                                            </ul>
                                            <h1>Arrêté du 12 décembre 2012 - Titre de Propriété et Numéro d'Ordre</h1>
                                                <h2>Article 1</h2>
                                                <p>Tout cyclomoteur, tricycle à moteur et quadricycle léger à moteur doit être muni d’une plaque portant un numéro d’ordre et son conducteur doit être en possession du titre de propriété correspondant, ainsi qu’une étiquette de traçabilité comportant un numéro d’ordre identique à celui de la plaque d’immatriculation et du titre précité. Cette étiquette sera collée sur un élément du châssis du motocycle.</p>

                                                <h2>Article 2</h2>
                                                <p>Le titre de propriété, dont le modèle est fixé à l’annexe I du présent arrêté est établi sur un support papier sécurisé (format 130 mm x 176 mm) comprenant les informations visibles suivantes :</p>
                                                <ul>
                                                <li>A l’entête « Royaume du Maroc » en arabe, amazigh et en français, suivi du ministère de l’équipement, du « transport et de la logistique » en arabe, amazigh et en français ;</li>
                                                <li>L’intitulé du document « titre de propriété » en arabe et en français ;</li>
                                                <li>La mention « numéro d’ordre » en arabe et en français;</li>
                                                <li>Le numéro d’ordre en chiffres ;</li>
                                                <li>Le numéro d’ordre converti en code à barres ;</li>
                                                <li>Le numéro d’ordre répété en dessous du code à barres;</li>
                                                <li>Le nom et prénom du propriétaire en arabe et en français ;</li>
                                                <li>L’adresse du propriétaire ;</li>
                                                <li>Le numéro de la carte nationale d’identité du propriétaire ;</li>
                                                <li>La marque du véhicule;</li>
                                                <li>La catégorie du véhicule ;</li>
                                                <li>Le type du véhicule ;</li>
                                                <li>Le numéro du châssis ;</li>
                                                <li>La cylindrée ou la puissance dans le cas d’un véhicule électrique;</li>
                                                <li>La date et le lieu de délivrance et le cachet du centre de contrôle technique ayant délivré le titre de propriété ;</li>
                                                <li>La date de la première mise en circulation;</li>
                                                <li>La date de mutation ;</li>
                                                <li>Le numéro d’autorisation,</li>
                                                <li>Le nom du réseau ;</li>
                                                <li>Le visa, et cachet de l’agent visiteur qui a délivré le document;</li>
                                                <li>Le numéro de série de traçabilité du titre de propriété.</li>
                                                </ul>
                                                <p>Le titre de propriété est attaché à deux quittances détachables : une première (format 80 mm x 176 mm) transmise au propriétaire du véhicule et une seconde (format «210 mm x 120 mm) destinée au Centre de contrôle technique.</p>
                                                <ul>
                                                <li>L’intitulé de la quittance « quittance de paiement et de retrait » suivi de la mention « contrôle préalable à l’obtention du titre de propriété » en arabe et en français ;</li>
                                                <li>Le code à barres reprenant le numéro d’ordre du titre de propriété;</li>
                                                <li>La mention « client » en arabe et en français ;</li>
                                                <li>Le nom et prénom du propriétaire du véhicule en arabe et en français ;</li>
                                                <li>Le numéro de la carte nationale d’identité ou le numéro de la patente, en arabe et en français ;</li>
                                                <li>Le numéro d’ordre en arabe et en français ;</li>
                                                <li>La date en arabe et en français ;</li>
                                                <li>Le prix hors taxe ;</li>
                                                <li>La mention « TVA » et sa valeur ;</li>
                                                <li>Le « prix TTC »;</li>
                                                <li>Une zone destinée pour la signature et le cachet du centre de visite technique;</li>
                                                <li>Une zone destinée pour la signature et le cachet du client;</li>
                                                <li>Le numéro de série de traçabilité des quittances de paiement.</li>
                                                </ul>
                                                <h2>Article 3</h2>
                                                <p>Pour obtenir le titre de propriété, l’acquéreur ou le constructeur accrédité ou son mandataire accrédité doit se présenter auprès d’un centre de contrôle technique, relevant de la juridiction du lieu de résidence de l’acquéreur du véhicule, muni des pièces suivantes :</p>
                                                <ul>
                                                <li>Documents justifiant l’acquisition du véhicule par l’acquéreur :</li>
                                                <ul>
                                                    <li>La facture pour les véhicules neufs;</li>
                                                    <li>Le titre de propriété du cédant et l’acte de cession portant signature légalisée du cédant et de l’acquéreur dans le cas de mutation;</li>
                                                    <li>La déclaration de perte ou de vol du titre de propriété dans le cas de demande de duplicata;</li>
                                                    <li>L’ancien titre de propriété dans le cas d’échange;</li>
                                                </ul>
                                                <li>Une copie certifiée conforme de la CNI; dans le cas d’un mineur, une autorisation du tuteur et une copie certifiée conforme de sa CNI sont exigées;</li>
                                                <li>Le certificat de dédouanement mentionnant la cylindrée du véhicule ou la puissance dans le cas de véhicules électriques ou l’attestation de paiement des droits de marchandises (DUM) et le numéro de quittance des droits de douane si le véhicule est importé;</li>
                                                <li>Les documents justifiant l’homologation du véhicule :</li>
                                                <ul>
                                                    <li>Une copie du procès-verbal de réception par type pour les véhicules homologués par type.</li>
                                                    <li>Ce certificat, dont le modèle est fixé en annexe II, est établi sur support papier sécurisé.</li>
                                                    <li>Le procès-verbal de réception à titre isolé, délivré par le ministère de l’équipement, du transport et de la logistique ou son mandataire accrédité, pour les véhicules homologués à titre isolé.</li>
                                                </ul>
                                                </ul>

                                                <h2>Article 4</h2>
                                                <p>Le titre de propriété n’est délivré par le centre de contrôle technique qu’après vérification des caractéristiques techniques du véhicule présenté conformément au protocole mis en place par l’administration en application de l’article 64 de la loi n° 52-05 susvisée et l’article 110 du décret n° 2-10-421 susvisé.</p>
                                                <p>Dans le cas d’un véhicule homologué pour un constructeur accrédité ou son mandataire accrédité, le titre de propriété est délivré après vérification des documents cités à l’article 3 susvisé sans avoir recours à la présentation du véhicule.</p>

                                                <h2>Article 5</h2>
                                                <p>Le numéro d’ordre est reproduit d’une manière apparente à l’arrière du véhicule sur une plaque en caractères noir sur fond blanc en matière réfléchissante. Cette plaque doit être rigide en métal et fixée à l’arrière du véhicule sur un support inamovible.</p>
                                                <p>Ce numéro est également reproduit sur un adhésif portant le code à barres à coller sur un élément du châssis par l’agent visiteur ayant contrôlé le véhicule. L’adhésif doit être positionné de manière à être protégé et accessible.</p>

                                                <h2>Article 6</h2>
                                                <p>Le numéro d’ordre est composé de deux parties allant de haut en bas :</p>
                                                <ul>
                                                <li>Première partie : comporte le numéro spécifique de la préfecture ou de la province de rattachement du centre ayant délivré le numéro d’ordre conformément à l’annexe n° 3 au présent arrêté.</li>
                                                <li>Deuxième partie : indique l’ordre d’enregistrement du véhicule allant de un à six chiffres (1 à 999999) au maximum.</li>
                                                </ul>
                                                <p>Les deux parties doivent être séparées par un trait horizontal et disposées sur deux lignes.</p>
                                                <p>Aucun autre signe ou symbole non prévu par les dispositions du présent arrêté ne doit être incorporé dans les plaques d’immatriculation sécurisées portant le numéro d’ordre à l’exception des éléments mentionnés dans les dispositions du présent arrêté.</p>
                                         </div>
                                </ul>
                    
                            </li>
                            <li><strong> Arrêté n° 2711-10 : Immatriculation des motocycles</strong>
                                <ul class="sub-menu">
                                    <h2>Article 26</h2>
                                    <p>Numéro et plaques d’immatriculation des motocycles, tricycles à moteur et quadricycles lourds à moteur</p>
                                    <p>Les numéros et plaques d’immatriculation des motocycles, tricycles à moteur et quadricycles lourds à moteur doivent satisfaire aux dispositions des articles 21 et 25 du présent arrêté.</p>
                                    <p>Les chiffres et les lettres de la plaque arrière des véhicules précités constituant le numéro d’immatriculation sont disposés sur deux lignes horizontales, l’une au-dessous de l’autre conformément aux dispositions de l’article 22 (3e alinéa) ci-dessus.</p>
                                    <p>La plaque arrière doit être verticale et perpendiculaire au plan longitudinal de symétrie du motocycle.</p>
                                    <p>Le véhicule étant en charge, aucun point du bord inférieur de la plaque ne doit se trouver à une hauteur au-dessus du sol inférieur à 30 cm ou au rayon de la roue.</p>
                                    <p>Les dimensions des plaques et celles des chiffres et des lettres constituant le numéro d’immatriculation desdits véhicules sont données par le tableau figurant à l’annexe n° 15 du présent arrêté.</p>
                                </ul>
                            </li>
         
                        </ul>
                    </div>
        
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area ltn__right-sidebar">
                    <div class="widget-2 ltn__menu-widget ltn__menu-widget-2 text-uppercase" style="margin-top: 20px;">
                      <h1> [CONSEIL] Plaque d'immatriculation </h1>
                      <div class="widget ltn__banner-widget">
                        <iframe width="600px" height="266px" src="https://www.youtube.com/embed/xBlAPjdx0wk" frameborder="0" allowfullscreen></iframe>
                     </div>
                      <div class="widget ltn__banner-widget">
                        <iframe width="600px" height="266px" src="https://www.youtube.com/embed/U_xbnesEwp8" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="widget ltn__banner-widget">
                        <iframe width="600px" height="266px" src="https://www.youtube.com/embed/ABs-W-tmvr4" frameborder="0" allowfullscreen></iframe>
                     </div>
  
                    </div>
                    <!-- Banner Widget -->
                    <div class="widget ltn__banner-widget">
                        <img src="assets/img/service/images1.jpg" alt="Banner Image">
                    </div>
                    <div class="widget ltn__banner-widget">
                        <img src="assets/img/service/images2.jpg" alt="Banner Image">
                    </div>
                    <div class="widget ltn__banner-widget">
                        <img src="assets/img/service/images3.jpg" alt="Banner Image">
                    </div>
                  
                </aside>
            </div>
        </div>
    </div>
  </div>
                 