<!-- BREADCRUMB AREA START -->
    <!-- BREADCRUMB AREA START -->
    <div class="media">
        <div
          class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
          data-bs-bg="assets/500.png"
          style="padding-top: 100px; padding-bottom:104px;background-image: url('assets/500.png');"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between"
                >
                  <div class="section-title-area ltn__section-title-2">
                    <h6 class="section-subtitle" style="color: #ffc300;;">
                      // Bienvennue chez nous
                    </h6>
                    <h1 class="section-title white-color" style="color: white; font-size: 41px;">
                        Ouvrir un centre de visite technique au Maroc.</h1>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
     </div>
<div>
    <div class="ltn__page-details-area ltn__portfolio-details-area mb-105" style="margin-top: -98px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__page-details-inner ltn__portfolio-details-inner">
                      <h2>La ceinture de sécurité :</h2>
                        <div class="ltn__blog-img">
                            <img src="assets/img/service/22.jpg" alt="Image"  class="image1"   sizes="(min-width: 40em) 80vw, 100vw">
                        </div>
                       
                        <p> Les muscles des bras ne peuvent guère résister à une force de plus de 25 kg. Or à 50 km/h contre un mur, c’est une force de plus de deux tonnes qu’ils devraient développer pour retenir un corps de 75 kg.</p>
                        <p>Non ceinturé, un corps est donc projeté à travers le pare-brise ou l’habitacle. Et il est impossible de se cramponner ou de protéger un enfant dans ses bras.</p>
                        <p>Un choc à 50 km/h correspondant à une chute du 4ème étage. Aujourd’hui, avec une ceinture, un choc n’est pratiquement jamais mortel aux vitesses couramment pratiquées en ville.</p>
                        <p>En cas d’accident, sans éjection, la ceinture est la seule chance de rester conscient, pour pouvoir quitter rapidement le véhicule. Le port de la ceinture relève aussi du civisme. Les accidents de la route coûtent très cher à la collectivité : secours, hospitalisation, rééducation…..Sur le plan familial, il s’agit tout simplement de la responsabilité des parents vis à vis de leurs enfants : à la fois ne pas mettre en danger la vie et l’équilibre de la famille et pour expliquer aux jeunes enfants qu’ils doivent être attachés.</p>
                        <p>Le sac gonflable (“airbag”) est une protection supplémentaire contre les chocs violents. Pour le conducteur, c’est un appoint qui empêche le contact entre la tête et le volant, le corps étant déjà retenu par la ceinture. Pour le passager, il empêche le contact avec le tableau de bord. Nécessairement associé à la ceinture pour son efficacité, il en améliore les effets de 15 à 25 %.</p>
                        <h2>La conduite de nuit  :</h2>
                        <p>La nuit, le risque d’accident est deux fois plus élevé que le jour. Beaucoup d’automobilistes privilégient la conduite de nuit afin d’échapper aux fortes chaleurs de la journée.
                          Il importe dans ce cas de respecter quelques principes impératifs : éviter de conduire entre 2 et 4 heures du matin (les capacités et la vigilance sont alors les plus faibles) partir reposé, c’est à dire en ayant pris un temps de repos suffisant avoir préparé son véhicule et trajet avec minutie s’alimenter légèrement s’abstenir de consommer de l’alcool observer les recommandations portées sur les médicaments s’arrêter toutes les deux heures, voire plus souvent, et impérativement dès les premiers signes de fatigue (irritabilité, tête lourde, impression d’avoir trop chaud ou d’être serré dans ses vêtements, besoin de changer de position en permanence, picotements dans les yeux, impression que tous les autres conduisent mal, crispation du cou et des épaules) adapter son éclairage pour mieux voir et être vu.</p>
                          <h2> Le téléphone :</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="assets/img/service/33.jpg" alt="Image">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/service/34.jpg" alt="Image">
                            </div>
                            <p>La conduite doit toujours réclamer prioritairement l’attention du conducteur. Téléphoner en voiture ne veut pas dire téléphoner ben conduisant. Si le téléphone sonne, le conducteur précisera à son interlocuteur qu’il est au volant et qu’il le rappellera plus tard.
                                Des solutions évitant de « lâcher le volant » existent. Les dispositifs « mains libres », la mémorisation des numéros et l’utilisation de la messagerie vocale en font partie</p>
                        </div>
                        <h2> La vitesse :</h2>
                        <p>Plus on va vite : plus la perception visuelle diminue, plus le cerveau reçoit d’images et plus il devient difficile de les enregistrer, moins la voiture devient maniable, plus la conduite est difficile, plus le risque d’erreur augmente, plus la consommation de carburant est importante, moins les pneus adhèrent à la chaussée, plus le choc est violent, plus vite la fatigue s’installe et plus les temps de réaction et de freinage augmentent. </p>
                        <h2>La distance de sécurité : </h2>
                        <p>On appelle “distance de sécurité” la distance minimale à conserver entre deux véhicules en sécurité.</p>
                        <p>Savoir adapter la distance de sécurité entre deux véhicules, à sa vitesse :</p>
                        <ul>
                          <li><span class="text-success ">sur autoroute : </span>prendre comme référence la longueur de deux lignes d’une bande d’arrêt d’urgence (= 90 mètres).</li>
                          <li><span  class="text-success ">sur route :</span> compter 3 secondes entre le passage devant un repère fixe (arbre par exemple) du véhicule qui vous précède et votre propre passage devant le même repère (= 50 mètres).</li>
                        </ul>
                        <h2> La distance d’arrêt :</h2>
                        <p>On appelle “distance d’arrêt”, la distance totale parcourue entre le moment où le conducteur voit l’obstacle et celui où sa voiture s’arrête.
                          Elle dépend de l’état de la chaussée (sur sol humide elle est pratiquement multipliée par 2) et de l’état du véhicule (freins, pneus …).</p>
                        <h2> Les piétons :</h2>
                        <div class="row">
                          <div class="ltn__blog-img">
                            <img src="assets/img/service/40.jpg" alt="Image"  class="image1"   sizes="(min-width: 40em) 80vw, 100vw">
                        </div>
                          <p>Un piéton engagé sur un passage piéton est toujours un piéton prioritaire. Les conducteurs doivent ralentir à l’approche desc passages protégés.</p>
                         
                            <p>L’enfant piéton :
                              Face à la circulation, un enfant ne réagit pas comme un adulte. L’enfant met 3 à 4 secondes à distinguer un véhicule à l’arrêt, d’un véhicule en mouvement (contre ½ seconde pour un adulte). Son champ visuel est limité et sa petite taille l’empêche de voir par-dessus les voitures, mais aussi le cache des automobilistes. De surcroît, il ne reconnaît pas les signaux sonores du danger. C’est à l’adulte de modifier son comportement et de lui apprendre la rue. L’adulte devra donc l’empêcher de courir et lui donner la main pour traverser. Il est important qu’il lui montre l’exemple en s’arrêtant toujours
                              au bord du trottoir, en regardant bien des deux côtés avant de traverser et en respectant les passages piétons et les feux rouges.</p>
                    
      
                          
                       </div>
                       <h2> Fatigue et vigilance :</h2>
                        <div class="row">
                          <div class="col-lg-8">
                            <p>La conduite automobile est une activité fatigante qui entraîne une diminution de la vigilance. On estime qu’après 2 heures ded conduite, le conducteur n’est plus dans un état optimal de réaction face à un événement. Son temps de réaction est au mieux de 2 secondes. Il multiplie donc par 2 la distance parcourue pendant le temps de réaction « normal » de 1 seconde.</p>
                            <p>La somnolence se définit comme l’instant situé entre veille et sommeil ou entre sommeil et éveil. Chez un sujet « normal », la somnolence décroît du lever jusqu’aux environs de midi où elle atteint son minimum. Elle augmente brusquement entre 13h et 15h pour ensuite revenir aux valeurs de la matinée jusque 20h. L’absorption de certaines substances (alcool, drogues, médicaments) peut aggraver la somnolence.</p>
                          </div>
                          <div class="col-lg-4">
                              <img src="assets/img/service/60.jpg" alt="Image">
                          </div>
                       </div>
                       <h2>Effets sur la vision :</h2>
                       <p>
                        Des possibilités d’éblouissements, de troubles de l’accommodation et une vision brouillée sont à craindre. Tous les produits sédatifs peuvent se révéler dangereux car ils altèrent la vigilance du conducteur. Le manque de sommeil se traduit, outre le fait de s’endormir au volant, par un rétrécissement du champ visuel, des troubles de la mémoire à court terme et un ralentissement des réflexes.
                        La vision de l’automobiliste devient approximative. Le champ visuel périphérique est réduit, l’œil ne percevant plus l’environnement immédiat de la route et n’évaluant plus correctement la rapidité et le sens des déplacements des objets en mouvement. Il lui est plus difficile de supporter tout stress lumineux.
                       </p>
                       <h2>Les 2 roues :</h2>
                       <h6>Les Motocyclettes et cyclomoteurs :</h6>
                       <p>Les motards et les cyclomotoristes sont également des usagers vulnérables en ville. Il est rappelé aux motocyclistes et cyclomotoristes que le port du casque est une protection minimale obligatoire. Des vêtements protecteurs adaptés à la conduite de ces véhicules sont vivement conseillés.</p>
                       <div class="row">
                        <p>Un piéton engagé sur un passage piéton est toujours un piéton prioritaire. Les conducteurs doivent ralentir à l’approche desc passages protégés.</p>
                        <div class="ltn__blog-img">
                          <img src="assets/img/service/80.jpg" alt="Image"  class="image1"   sizes="(min-width: 40em) 80vw, 100vw">
                          </div>
                          <h6>Bicyclettes :</h6>
                    <p>Les cyclistes, eux aussi particulièrement vulnérables, doivent être positionnés clairement sur la chaussée pour un partagee harmonieux de la rue. Le cycliste veillera à ne pas circuler trop près des trottoirs ou des voitures en stationnement et à faire attention aux portières qui s’ouvrent, aux voitures qui déboîtent ainsi qu’aux enfants qui débouchent entre deux véhicules.
                      Il sera particulièrement attentif aux mouvements des voitures afin de prévoir tout virage ou démarrage et maintenir sa trajectoire sans slalomer entre les véhicules. Aux intersections, il convient d’éviter de s’arrêter le long d’un camion ou d’un bus, en dehors du champ de vision du conducteur.
                      L’idéal est au contraire d’être vu et d’utiliser le sas de sécurité qui permet de se positionner à l’avant des véhicules. Le cycliste affirmera ses intentions en prenant sa place sur la chaussée et en tendant le bras pour indiquer qu’il va tourner (surtout à gauche).
                      De plus, dans les carrefours difficiles, il pourra préférer les passages protégés ou descendre de son vélo. En tout état de cause, l’anticipation des mouvements est utile et un avertisseur sonore nécessaire.</p>
                        
                        
                     </div>
                       
      
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar-area ltn__right-sidebar">
                        <div class="widget-2 ltn__menu-widget ltn__menu-widget-2 text-uppercase" style="margin-top: 20px;">
                          <h1>les règles de sécurité</h1>
                            <ul>
                                <li><iframe width="600px" height="266px" src="https://www.youtube.com/embed/8GLMd0igLQM" frameborder="0" allowfullscreen></iframe></li>
                                <li><iframe width="600px" height="266px" src="https://www.youtube.com/embed/8TKO1jYIdAc" frameborder="0" allowfullscreen></iframe></li>
                                <li><iframe width="600px" height="266px" src="https://www.youtube.com/embed/Olduh0n8g1Q" frameborder="0" allowfullscreen></iframe></li>
                            </ul>
                        </div>
                        <!-- Newsletter Widget -->
                        <!-- <div class="widget ltn__search-widget ltn__newsletter-widget">                            
                            <h6 class="ltn__widget-sub-title">// subscribe</h6>
                            <h4 class="ltn__widget-title">Get Newsletter</h4>
                            <form action="#">
                                <input type="text" name="search" placeholder="Search">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                            <div class="ltn__newsletter-bg-icon">
                                <i class="fas fa-envelope-open-text"></i>
                            </div>
                        </div> -->
                        <!-- Banner Widget -->
                        <div class="widget ltn__banner-widget">
                            <img src="assets/img/service/100.jpg" alt="Banner Image">
                        </div>
      
                    </aside>
                </div>
            </div>
        </div>
      </div>
    </div>
        