<!-- FOOTER AREA START -->
<footer class="ltn__footer-area  ">
    <div class="row" style="margin-right: 0px;">
        <div class="col-xl-4 col-md-12 col-sm-12  bg-overlay-theme-black-90" style="background-image: url(assets/image_backround_footer.png); height: 320px;">
            <div class="footer-widget footer-about-widget" style="text-align: center; margin-top: 90px; padding-left: 37px;">
                <p style="font-size: 16px; color: white;"> <span style="font-weight: bold;">Le contrôle technique au Maroc </span> est un contrôle réglementaire effectué périodiquement pour garantir que les véhicules sont conformes aux normes de sécurité et environnementales en vigueur. </p>
            </div>
        </div>
        <div class="col-xl-8 col-md-12 col-sm-12 footer-top-area  section-bg-1 plr--5" style="padding-top: 43px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title"  >Raccourcis.</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a class="fnt" href="/ControleTechnique#titre4">Lois et règlements</a></li>
                                    <li><a class="fnt"  href="/ControleTechnique#chap1">Centres de visite technique</a></li>
                                    <li><a class="fnt"   routerLink="/Titre-de-propriété" >Titres de propriété</a></li>
                                    <li><a class="fnt"  href="/ControleTechnique#chap24">Ressources humaines</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Liens utiles.</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a class="fnt"  href="http://www.equipement.gov.ma/mee/Pages/Accueil.aspx" target="_blank">Ministère de l'équipement et de l'eau</a></li>
                                    <li><a class="fnt"  href="https://www.narsa.ma" target="_blank">NARSA</a></li>
                                    <li><a class="fnt"  href="https://www.cneh.fr/" target="_blank">CNEH</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Nos services.</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a class="fnt"  routerLink="/Rendez-vous">Rendez-vous</a></li>
                                    <li><a class="fnt"   routerLink="/Centres">Centre le plus proche</a></li>
                                    <li><a class="fnt"  routerLink="/Reclamation">Passer une réclamation</a></li>
                                    <li><a class="fnt"  routerLink="/Comment">Donner votre avis</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Informations</h4>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p class="fnt">5éme étage, N° 11, rue AZIZ BILAL Casablanca 20000, Maroc</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a class="fnt" href="tel:+212 660 805 899">+212 660 805 899</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a class="fnt" href="mailto:contact@siliad.ma">contact@siliad.ma</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100091538832917&mibextid=LQQJ4d" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/siliad.maroc/?igshid=MzRIODBiNWFIZA%3D%3D" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/siliadsarl" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 ltn_copyright-area ltn_copyright-2" style="background-color:var(--white-4);margin-top: -46px;" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                <a href="index.html"><img style="width:100px ;" src="assets/3.png" alt="Logo"></a>
                            </div>
                            <div class="get-support ltn__copyright-design clearfix">
                                <div class="get-support-info">
                                    <a href="https://siliad.ma" target="_blank"><h6>Copyright &copy; SILIAD <span class="current-year"></span> Tous droits réservés.</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-end">
                            <ul>
                                <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                                <li><a routerLink="/policies-protections">Politiques et protections</a></li>
                                <li><a href="/mentions-legales">Mentions légales</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER AREA END -->