
    <!-- SERVICE AREA START (Service 1) -->
    <div class="ltn__service-area section-bg-1 pt-80 " style="margin-top: -155px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle " style="color: #ffc300;">// Services</h6>
                        <h1 class="section-title">Nos services.</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-md-6">
                    <div class="ltn__service-item-2 white-bg" >
                        <div class="service-item-icon">
                            <i style="color: #ffc300;" class="fa-thin fa-map-location-dot"></i>
                        </div>
                        <div class="service-item-brief">
                            <h6 class="text-uppercase" style="color: #ffc300;">//  CENTRE LE PLUS PROCHE</h6> 
                            <h3><a  href="/Centres">CENTRE LE PLUS PROCHE</a></h3>
                            <ul>
                                <li><span>Localisez facilement notre centre le plus proche de chez vous, accédant ainsi rapidement à nos services. Obtenez des informations complètes sur l'emplacement, les horaires d'ouverture et les moyens de contact.</span></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ltn__service-item-2 white-bg">
                        <div class="service-item-icon">
                            <i style="color: #ffc300;" class="icon-car-service"></i>
                        </div>
                        <div class="service-item-brief">
                            <h6 class=" text-uppercase" style="color: #ffc300;">//  RENDEZ-VOUS</h6>
                            <h3><a href="/Rendez-vous">RENDEZ-VOUS </a></h3>
                            
                            <ul>
                                <li><span> Planifiez des rencontres individuelles avec nos experts pour des conseils personnalisés et une assistance spécifique à vos besoins. Profitez d'une attention dédiée et évitez les attentes en choisissant un créneau qui vous convient..</span></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ltn__service-item-2 white-bg">
                        <div class="service-item-icon">
                            <i style="color: #ffc300;" class="fa-sharp fa-light fa-message-exclamation"></i>
                        </div>
                        <div class="service-item-brief">
                            <h6 class="text-uppercase" style="color: #ffc300;">//  RÉCLAMATION</h6>
                            <h3><a href="/Reclamation">RÉCLAMATION</a></h3>
                            <ul>
                                <li><span>Soumettez vos réclamations en ligne pour un traitement rapide. Suivez l'état de votre réclamation et bénéficiez d'un support professionnel pour résoudre vos problèmes et assurer votre satisfaction.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6">
                    <div class="ltn__service-item-2 white-bg">
                        <div class="service-item-icon">
                            <i style="color: #ffc300;" class="fa-regular fa-comment-pen"></i>
                        </div>
                        <div class="service-item-brief">
                            <h6 class="text-uppercase" style="color: #ffc300;">//Feedbacks</h6>
                            <h3><a href="/Comment">Feedbacks</a></h3>
                            <ul>
                                <li><span>Votre avis compte ! Partagez vos impressions après votre visite technique grâce à notre espace commentaires. Vos retours nous aident à améliorer constamment nos services.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICE AREA END -->
     <!-- COUNTER UP AREA START -->
     
    <!-- COUNTER UP AREA END -->