<div class="media">
  <div
    class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
    data-bs-bg="assets/img/bg/Customer-service.png"
    style="padding-top: 63px;  padding-bottom: 28px;background-image: url('assets/img/bg/Customer-service.png');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="ltn_breadcrumb-inner ltn_breadcrumb-inner-2 justify-content-between">
            <div class="section-title-area ltn__section-title-2">
              <h6 class="section-subtitle" style="color: #fcc300;">// Nous prenons soins de vous</h6>
              <h1 class="section-title white-color">Passer votre réclamation en toute transparence</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-5" style="margin-top: 16px;">
          <div class="slider-search" class="btn-wrapper animated">
            <h3 style="color: white;">Suivez votre réclamation
            </h3>
            <form class="d-flex" (ngSubmit)="showComplaintDetails()" #trackingForm="ngForm">
              <input style="margin-right: 5px; border-radius: 0px;" class="form-control" id="trackingCode"
                name="trackingCode" [(ngModel)]="trackingCode" type="search"
                placeholder="Entrer votre code de réclamation" aria-label="Search">
              <button type="submit" class="bnt theme-bnt-1">Chercher</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BREADCRUMB AREA END -->
  <stepers-reclamation></stepers-reclamation>
  <!-- APPOINTMENT AREA END -->
</div>